:root {
	--black: #000;
	--darkgrey: #323234;
	--lightgrey: #8E8E93;
    --white: #fff;
}

@font-face {
	font-family: Atkinson-Hyperlegible;
	src: url('Atkinson-Hyperlegible-Regular-102.ttf') format('opentype');
}

@font-face {
	font-family: Atkinson-Hyperlegible;
	src: url('Atkinson-Hyperlegible-Bold-102.ttf') format('opentype');
	font-weight: bold;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	line-height: 1;
	background-color: var(--darkgrey);
	font-family: Atkinson-Hyperlegible, Roboto, Ubuntu, 'Open Sans', sans-serif;
	padding: 2.5rem;
}

body b {
	color: var(--white);
}

body:not(b) {
	color: var(--lightgrey);
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
    font-size: 20px;
	line-height: 1rem;
	letter-spacing: 0.05rem;
}

span::after {
	content: ': '
  }