:root {
	--black: #000;
	--darkgrey: #323234;
	--lightgrey: #8E8E93;
	--vanilla: #F6EFA6;
    --white: #fff;
}

@font-face {
	font-family: Atkinson-Hyperlegible;
	src: url('../fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('opentype');
}

@font-face {
	font-family: Atkinson-Hyperlegible;
	src: url('../fonts/Atkinson-Hyperlegible-Bold-102.ttf') format('opentype');
	font-weight: bold;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	line-height: 1;
	background-color: var(--darkgrey);
	font-family: Atkinson-Hyperlegible, Roboto, Ubuntu, 'Open Sans', sans-serif;
	padding: 2.5rem;
}

body b {
	color: var(--white);
}

body:not(b) {
	color: var(--lightgrey);
}

h1 .pageHeader {
	background-color: var(--darkgrey);
	position: sticky;
	top: 0;
}

h4#noChannelDefined {
	display: none;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
    font-size: 18px;
	line-height: 1.3rem;
	letter-spacing: 0.05rem;
}

span::after {
	content: ': '
  }

span#channelName::after {
	content: '';
}

span.instructions {
	color: var(--vanilla);
}

span.instructions::after{
	content: '';
}

span#channelName {
	color: var(--vanilla);
}

main {
	display: flex;
	flex-grow: 1;
}

#chatNode {
	width: 50%;
	flex-grow: 1;
}

#configWindow {
	background-color: red;
	width: 50%;
	flex-grow: 1;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	translate: 100%;
}

#configWindow.showing {
	translate: none;
	animation: transform 420ms ease-in-out;
}