:root {
	--black: #000;
	--darkgrey: #2a2a2d;
	--lightgrey: #8E8E93;
	--vanilla: #F6EFA6;
    --white: #fff;
	--magentahaze: #A02C6C;
	/* variables for config */
	--chatmsgfontsize: 1.0em;
	--chatmsgfontweight: 400;
	--chatmsgfontkerning: 0.05rem;
}

@font-face {
	font-family: Atkinson-Hyperlegible;
	src: url('../fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: Atkinson-Hyperlegible;
	src: url('../fonts/Atkinson-Hyperlegible-Bold-102.ttf') format('opentype');
	font-weight: 700;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	line-height: 1;
	background-color: var(--darkgrey);
	font-family: Atkinson-Hyperlegible, Roboto, Ubuntu, 'Open Sans', sans-serif;
	padding: 2.5rem;
}

body b {
	color: var(--white);
}

body:not(b) {
	color: var(--lightgrey);
}

h1 .pageHeader {
	background-color: var(--darkgrey);
	position: sticky;
	top: 0;
}

h4#noChannelDefined {
	display: none;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
    font-size: 18px;
	line-height: 1.3rem;
	letter-spacing: 0.05rem;
}

.ls-0 {
	letter-spacing: 0;
}

button {
  background: var(--magentahaze);
  border: 1px solid var(--magentahaze);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--magentahaze);
}

button:active {
  opacity: .5;
}

button#clearStorage {
	display: none;
}

span::after {
	content: ': '
  }

span#channelName::after {
	content: '';
}

span.instructions {
	color: var(--vanilla);
	font-size: 18px;
}

span.instructions::after{
	content: '';
}

span#channelName {
	color: var(--vanilla);
}

#headerButtons {
	display: flex;
	justify-content: space-between;
}

main {
	display: flex;
	flex-grow: 1;
}

#chatNode {
	width: 50%;
	flex-grow: 1;
}

#configWindow {
	padding: 20px;
	background-color: var(--black);
	width: 30%;
	flex-grow: 1;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	translate: 100%;
	display: none;
}

.configTitle {
	padding: 20px 0px 0px 0px;
}

#configWindow.showing {
	transform: translate(-100%);
	animation: transform 4200ms ease-in-out;
	display: block;
}

#chatMessage > p {
	font-size: var(--chatmsgfontsize);
	line-height: 1;
	font-weight: var(--chatmsgfontweight);
	letter-spacing: var(--chatmsgfontkerning);
}